body.portarit {
  background-color: #f44336;
}

body {
  width: 100%;
  margin: 0;
}
body.landscape {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

body.landscape .container {
  width: 100%;
  overflow: visible;
  white-space: nowrap;
  z-index: -1;
}
img {
  display: inline-block;
}

body.portrait .info { display: none; }
body.landscape .info {
  position: fixed;
  top: 200px;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

body.portrait .bg { display: none; }
body.landscape .bg {
  height: 100vh;
  z-index: 1;
  transform: translateX(20px) translateY(-15px) scale(1.1);
}


img {
  margin: 0;
}


body.portrait .broccoli { display: none; }
body.landscape .broccoli {
  background: url('../image_sheet_general_1.png')no-repeat -1219px -870px;
  width: 484px;
  height: 385px;;
  position: absolute;
  left: 30px;
  bottom: 0;
  zoom: 0.45;
}

body.portrait .spaghetti { display: none; }
body.landscape .spaghetti {
  background: url('../image_sheet_general_0.png') no-repeat -1242px -70px;
  width: 525px;
  height: 490px;
  position: absolute;
  top: -100px;
  left: 347px;
  zoom: 0.6;
}

body.portrait .lasagne { display: none; }
body.landscape .lasagne {
  background: url('../image_sheet_general_0.png') no-repeat -1242px -861px;
  width: 579px;
  height: 528px;
  position: absolute;
  bottom: -140px;
  left: 910px;
  zoom: 0.5;
}

body.portrait .beaf { display: none; }
body.landscape .beaf {
  background: url('../image_sheet_general_1.png') no-repeat -1236px -121px;
  width: 536px;
  height: 398px;
  position: absolute;
  top: 90px;
  left: 1180px;
  zoom: 0.55;
}

body.portrait .tuna { display: none; }
body.landscape .tuna {
  background: url('../image_sheet_general_2.png') no-repeat -1220px -87px;
  width: 456px;
  height: 363px;
  position: absolute;
  top: 250px;
  left: 1770px;
  zoom: 0.53;
}








body.portrait > * {
  display: none;
}
body.portrait:before {
  content: "You should rotate screen";
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: fantasy;
}

body.landscape .logo {
  background: url('../image_sheet_general_0.png');
  position: fixed;
  z-index: 10;
  width: 13.5%;
  height: 0;
  padding-bottom: 14%;
  background-position: 95.5% 0;
  margin: 0 auto;
  background-size: 1230%;
  display: block;
  text-align: center;
  top: 0;
  left: 44%;
}

body.landscape #replay {
  background: url('../replay_button.png') no-repeat;
  z-index: 11;
}
body.landscape .close {
  background: url('../close_button.png') no-repeat;
  z-index: 11;
  right: 0;
}

body.landscape .close,
body.landscape #replay {
  width: 50px;
  background-size: cover;
  height: 50px;
  position: fixed;
}

body.landscape .overlayInfo {
  display: none;
}
body.landscape.overlayIsOpen .overlayInfo {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}

body.landscape.overlayIsOpen .overlayInfo .main {
  background: url('../image_sheet_general_2.png') no-repeat 0 -802px;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-position: 0 100%;
  margin: 0 auto;
  background-size: 175%;
  display: block;
}

body.landscape.overlayIsOpen .overlayInfo .poster {
  background: url('../poster_image.jpg') repeat;
}

.hidden {
  height: 100%;
  overflow: hidden !important;
  width: 100%;
  position: fixed;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.overlay {
  position: fixed;
  overflow: hidden !important;
  z-index: 100;
  top: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

[aria-hidden="true"] {
  transition: opacity 0.1s, z-index 0s 0.1s;
  width: 100vw;
  z-index: -1;
  opacity: 0;
}

[aria-hidden="false"] {
  transition: opacity 0s;
  width: 100%;
  z-index: 100;
  opacity: 1;
}

.detail-broccoli {
  background: url('../image_sheet_general_0.png');
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  background-position: 0 0;
  margin: -60px auto 0;
  background-size: 170%;
  display: block;
}


.detail-spaghetti {
  background: url('../image_sheet_general_0.png');
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-position: 0 100%;
  margin: -35px auto 0;
  background-size: 170%;
  display: block;
}
.detail-lasagne {
  background: url('../image_sheet_general_2.png');
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  background-position: 0 0;
  margin: -60px auto 0;
  background-size: 170%;
  display: block;
}
.detail-beaf {
  background: url('../image_sheet_general_1.png');
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-position: 0 100%;
  margin: -35px auto 0;
  background-size: 170%;
  display: block;
}
.detail-tuna {
  background: url('../image_sheet_general_1.png');
  width: 100%;
  height: 0;
  padding-bottom: 70%;
  background-position: 0 0;
  margin: -60px auto 0;
  background-size: 170%;
  display: block;
}

.discover-button {
  background: url('../image_sheet_general_0.png') no-repeat;
  width: 253px;
  height: 72px;
  background-position: -1456px -602px;
  position: fixed;
  bottom: 10%;
  left: calc(50%);
  transform: translateX(-50%) scale(0.55);
  z-index: 9;
}

.discover-button:active {
  background-position: -1202px -602px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background:  rgba(40,40,40, .75);
}